{{%
    Script.Layout = "Layout.html";
    Script.Title = "My Great Detail with Layout Page";
}}
<div>
    <!-- dynamic type cast from an Anonymous type: THIS FAILS! -->
    <h1>Welcome back, {{ Model.Name }}</h1>

    <!-- Using Reflection to access Anonymous type: THIS WORKS! -->
    <h1>Welcome back {{ Script.GetProperty(Model, "Name") }}</h1>


    {{ Script.RenderPartial("Partial.html", Model) }}

    <p>This is the detail page content {{ DateTime.Now.ToString("t") }}</p>

    <hr />

    {{ Script.RenderPartial("Partial.html", Model) }}


    {{Script.Title}}
</div>

{{ Script.Section("Headers") }}
<style>
    body {
        background-color: lightblue;
    }
    {{ DateTime.Now }}
</style>
{{ Script.EndSection("Headers") }}

{{ Script.Section("Scripts") }}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{{ Script.EndSection("Scripts") }} 